<div class="container">
    <nav class="nav">
        <h1 class="header" routerLink="/customer/shop">&nbsp; &nbsp;E Commerce Application</h1>

        <div class="nav-search" *ngIf="menuType!=='seller'">

            <input #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" type="text" placeholder="Search for Products" >
            <button (click)="onSearch(searchInput.value)"><i class="fa fa-search"></i>&nbsp;Search</button>

            <ul class="suggested-result" *ngIf="searchResults">
                <li *ngFor="let item of searchResults">
                    <a (mousedown)="redirectToDetails(item._id)">{{item.title}}</a>
                </li>
            </ul>

        </div>

        <div [ngSwitch]="menuType" class="list">
            <ng-container *ngSwitchCase="'default'"></ng-container>

            <ul *ngSwitchCase="'customer'">
                <li routerLink="/customer/shop">Shop</li>
                <li routerLink="/customer/cart">Cart [{{cartCount}}]</li>
                <li>
                    <button class="btn-danger" (click)="onHeaderLogout()">Logout</button>
                </li>
            </ul>

            <ul *ngSwitchCase="'seller'">
                <li>
                    <button class="btn-danger" (click)="onHeaderLogout()">Logout</button>
                </li>
            </ul>
        </div>
    </nav>
</div>

